<p>calculator works!</p>
<!-- <p>two-way-db1 works!</p> -->
<h2 align="center">Two way Data Binding : Calculating Numbers</h2>

<div>
    
    <label for="id1">Num1</label>
    <input type="number" name="n1" id="id1" [(ngModel)]="num1">

</div><br>
<div align="center">
    <label for="id2">Num2</label>
    <input type="number" name="n2" id="id2" [(ngModel)]="num2">
</div><br><br>


<div align="center"> 
    <button type="button" (click)="add()">Add</button>&nbsp;

    <button type="button" (click)="sub()">Subtraction</button>&nbsp;

    <button type="button" (click)="mul()">Multiplication</button>&nbsp;

    <button type="button" (click)="div()">Division</button>

</div> <br><br>
<!-- {{result}} -->
<div align="center">
    <label for="id3">Result</label>
    <input type="text" name="res" id="id3" [(ngModel)]="result" disabled>
</div>



