<!-- <app-home></app-home>
<app-header></app-header>

<app-footer></app-footer> -->
 <!-- <app-two-way-db></app-two-way-db>  -->
    <!-- <app-calculator></app-calculator>   -->
<!-- <app-cal-tot-price></app-cal-tot-price>   -->
 <!-- <app-directive-practice></app-directive-practice> -->
  <!-- <app-structural-directive></app-structural-directive> -->
<!-- <app-ng-switch-example></app-ng-switch-example> -->
 <!-- <app-ng-for></app-ng-for> -->
  <app-interpo-proper-binding></app-interpo-proper-binding>
